In [1]:
n=input("enter your age")
n

enter your age 19

'19'

In [2]:
n=input("enter your age")
print("my age is"+ input)

enter your age 19

TypeError: can only concatenate str (not "method") to str

In [4]:
n=input("enter your age")
print("my age is "+ n)

enter your age 19

my age is 19

In [8]:
#multiple inputs in one entry
var_1, var_2 = input("enter your names: ").split(" ")
print(var_1)
print(var_2)

enter your names:  lisa swaroop

lisa
swaroop

In [9]:
#check type of data type
a=24

In [10]:
type(a)

int

In [11]:
#typecasting: one data type to other conversion
b=1.3
int(b)

1

In [13]:
#boolean understanding
b1= True
type(b1)

bool

In [14]:
b1=False
type(b1)

bool

In [15]:
e1=24
type(e1)

int

In [16]:
f1=lisa
type(f1)

NameError: name 'lisa' is not defined

In [17]:
true+true

NameError: name 'true' is not defined

In [18]:
int(true)

NameError: name 'true' is not defined